aiohttp~=3.14.3
kurigram>=2.2.25
ntgcalls~=3.0.b16
pillow~=12.3.0
psutil~=7.2.2
py-tgcalls~=3.0.0.dev5
py-yt-search~=0.7.5
pymongo>=4.17.0
pytgcrypto>=1.2.12
python-dotenv~=1.2.3
yt-dlp[default]>=2026.8.19
aiohttp
